@mixin display($flexproperty) {
	-webkit-box: $flexproperty;
	-ms-flexbox: $flexproperty;
	-webkit-flex: $flexproperty;
	display: $flexproperty;
}

.swiper-slide {
	@include display(flex);
}

$bg-color: rgba(0,0,0,0.2);
$hover-bg: rgba(0,0,0,0.8);
$font-color: rgba(255,255,255,1);
$hover-font-color: rgba(0,0,0,1);

.swiper-pagination-bullet {
	background-color: $bg-color;
	color: $font-color;
	&:hover{
		background-color:$hover-bg;
	};
}
.swiper-pagination-bullet-active {
	&:hover {
		background-color: $hover-bg;
	};
}